.sidebar {
  width: 200px;
  background-color: #1f2937;
  padding: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  top: 100px; /* Adjust based on your navbar height */
  left: 0;
  height: calc(100vh - 80px); /* Adjust based on your navbar height */
  overflow-y: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
  margin-left: 10px;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  padding-top: 20px;
  border: 3px;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #e46c1c;
  text-decoration: none;

}





@media (max-width: 768px) {
  /* Add responsive styles if needed */
}